* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 12% 0 12%;
}

.landing-page {
    height: 105vh;
    width: 100%;
    background: url("./assets/img/marae3.jpg") no-repeat center center;
    background-size: cover;
}

/* NAVIGATION BAR */

.navigation {
    padding: 0 12% 0 12%;
    position: fixed;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 100;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.navigation-hover {
    background: #fff;
    transition: all 0.3s ease;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    color: #4f5153;
}

.nav-link-active {
    color: #000;
    transition: all 0.3s ease;
}

.nav-flex-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 0.8;
    font-family: "Lato", sans-serif;
}

.nav-image {
    justify-content: center;
    opacity: 0;
}

.nav-image-active {
    animation: navImage 0.3s ease forwards;
}

.left {
    justify-content: flex-start;
}

.left li {
    margin-right: 5rem;
    min-width: 6rem;
}

.right {
    justify-content: flex-end;
}

.right li {
    margin-left: 5rem;
    min-width: 6rem;
}

.nav-flex-container img {
    width: 25%;
    height: auto;
}

small {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.6;
}

/* MOBILE NAV */

.mobile-nav {
    display: flex;
    visibility: hidden;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 100;
}

.mobile-menu {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    outline: none;
    border: none;
    z-index: 1000;
}

.fa-bars {
    color: #000;
    font-size: 1.5rem;
}

.mobile-nav-overlay-hidden {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translate(100%, 45%);
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 15%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0.8) 85%,
            rgba(255, 255, 255, 0) 100%
        ),
        url("./assets/img/mobileNavBg.png");
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.mobile-nav-bg {
    background: url("./assets/img/quotebanner.png") no-repeat center center;
    height: 100%;
    width: 100%;
    z-index: 200;
}

.is-visible {
    transform: translate(0%, 45%);
}

.noscroll {
    overflow: hidden;
}

.mobile-nav-options {
    font-size: 2rem;
    text-align: center;
}

.mobile-nav-header {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color: #252525;
}

.mobile-nav-header h2 {
    position: relative;
}

.mobile-nav-header h2::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 1.3em;
    transform: translate(-15%);
    top: 50px;
    height: 23px;
    width: 5.8em;
    background: rgba(43, 166, 0, 0.8);
}

.mobile-nav-options li {
    margin: 3rem;
}

.mobile-nav-options li p {
    margin-bottom: -1rem;
}

.mobile-nav-options li a {
    color: #252525;
    font-weight: 500;
    font-size: 1.8rem;
}

/* LANDING PAGE */

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Playfair Display", serif;
}

.welcome h2 {
    font-size: 2.3rem;
    color: #ececec;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.3px;
}

.welcome h1 {
    position: relative;
    font-weight: 400;
    font-size: 5rem;
    line-height: 0.9;
    color: #ececec;
    letter-spacing: 1.3px;
    z-index: 1;
}

.welcome h1::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 1.2em;
    transform: translate(-15%);
    top: 55px;
    height: 23px;
    width: 6em;
    background: rgba(43, 166, 0, 0.8);
}

/* Quote section */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #343a40;
    background: url("./assets/img/quotebanner.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 25vh;
}

.quote blockquote {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem;
}

.quote blockquote:before {
    content: open-quote;
    display: block;
    color: #343a40;
    font-size: 4em;
    top: 0.8em;
    right: 6.3em;
    position: relative;
}

.quote blockquote:after {
    content: close-quote;
    display: block;
    color: #343a40;
    font-size: 4em;
    left: 6.3em;
    top: -0.3em;
    position: relative;
}

/* Stories */

.stories {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-flex-item {
    background-color: #fff;
    margin: 0 1rem 0 1rem;
    height: 90%;
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.stories-images {
    display: block;
    width: 100%;
    height: 30%;
    flex-basis: 50%;
}

.stories-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem 0 1rem;
    flex: 1 1 50%;
}

.stories a {
    text-decoration: underline #343a40 solid;
}
.stories-text p,
.stories a {
    color: #343a40;
}

/* Support and Initiatives section */

.support-initiatives {
    height: 100vh;
    width: 100%;
    margin: auto;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-initiatives-item {
    background-color: green;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 50%;
    height: 100%;
    padding: 2% 10% 2% 7%;
}

.support-initiatives-item h3 {
    z-index: 1;
    display: block;
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 3.8rem;
    font-weight: 400;
}

.support-initiatives-item h3:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 1em;
    transform: translate(-16%);
    top: 55px;
    height: 20px;
    width: 4.4em;
    background: rgba(43, 166, 0, 0.8);
}

.support-initiatives-item:first-child h3:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 1.05em;
    transform: translate(-15%);
    top: 55px;
    height: 20px;
    width: 3.4em;
    background: rgba(43, 166, 0, 0.8);
}

.support-initiatives-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.support-initiatives a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    width: 9rem;
    height: 3rem;
    text-align: center;
    line-height: 42px;
    border: 3px solid rgba(43, 166, 0, 0.8);
    border-radius: 3px;
    transition: all 0.5s ease;
}

.support-initiatives a:hover {
    background-color: rgba(43, 166, 0, 0.8);
    transition: all 0.2s ease;
}

.support-initiatives-item:first-of-type {
    background: url("./assets/img/matawhaura3.png") no-repeat center;
    background-size: cover;
}

.support-initiatives-item:nth-of-type(2) {
    background: url("./assets/img/marae3.png") no-repeat center;
    background-size: cover;
}

/* Image Carousel */

.carousel {
    height: 80vh;
    width: 100%;
    margin: auto;
    background-color: #000;
    padding: 2% 0 2% 0;
}

.carousel-cell img {
    height: 25rem;
    width: auto;
}

.flickity-slider {
    display: flex;
    align-items: center;
}

.flickity-page-dots {
    bottom: -22px;
}

.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background-color: rgb(180, 180, 180);
}
.carousel.is-fullscreen {
    height: 100%;
}

.is-fullscreen {
    z-index: 1001;
}

/* Footer */

.footer {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(
            357deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.3) 48%,
            rgba(0, 0, 0, 1) 100%
        ),
        url("./assets/img/footerbanner.png");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-heading {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 0.9;
    color: #ececec;
    letter-spacing: 1.3px;
}

.nav-flex-container.footer-nav {
    justify-content: space-evenly;
    width: 100%;
}

.footer-nav-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.footer-nav-link:hover {
    color: #4f5153;
}

.footer-copyright {
    color: #fff;
}

/* Animations */

@keyframes nav {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes navImage {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
    .mobile-nav {
        visibility: visible;
    }
    .quote blockquote:before {
        display: none;
    }
    .quote blockquote:after {
        display: none;
    }
    .stories {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    .stories-flex-item {
        margin-bottom: 1rem;
    }
    .stories-text h3,
    .stories-text p {
        margin: 0.5em 0 0.5em 0;
    }
    .stories-text a {
        margin: 0.5em 0 1em 0;
    }
    .support-initiatives {
        flex-direction: column;
    }
    .carousel {
        height: auto;
        min-height: 20vh;
    }
}

@media only screen and (max-width: 420px) {
    .container {
        padding: 0 2% 0% 2%;
    }
    .welcome {
        text-align: center;
        padding-bottom: 8rem;
    }
    .welcome h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .welcome h1 {
        font-size: 3.6rem;
    }
    .welcome h1::before {
        width: 5.5em;
        left: 1.4em;
        top: 40px;
    }
    .footer-heading {
        font-size: 3rem;
    }
}
